<html>
  <head>
    <title>Hashky|Bind with WeChat</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ STATIC_URL }}account/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}account/css/signin.css">
    <script src="{{ STATIC_URL }}jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}account/js/nav.js"></script>
  </head>
  <body>
    <h2>To bind with WeChat, please login.</h2>
    {% if form.has_errors %}
      <p>Your username and password didn't match.
        Please try again.</p>
    {% endif %}
    <form class="form-signin" method="post" action="" >
      <div class="form-group">
        <label class="control-label" for="id_username">Username:</label>
          <input class="form-control" type="text" name="username" id="inputEmail" placeholder="Email">
      </div>
      <div class="form-group">
        <label class="control-label" for="id_password">Password:</label>
          <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password">
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-lg btn-primary btn-block" value="Login">Log in</button>
          <!--following line is required for redirect-->
          <!-- <input type="hidden" name="next" value="{{ next|escape }}" /> -->
          <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </body>
</html>


