{% extends "account/base.html" %}
{% block title %}User Login{% endblock %}
{% block head %}User Login{% endblock %}
{% block content %}
  {% if form.has_errors %}
    <p>Your username and password didn't match.
      Please try again.</p>
  {% endif %}
  <form class="form-signin" method="post" action="" >
    {% csrf_token %}
    {{ form.username.errors }}
    <div class="form-group">
      <label class="control-label" for="id_username">Username:</label>
      <input class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" type="text" maxlength="30" autofocus="" required="" placeholder="Email address">
    </div>
    <div class="form-group">
      {{ form.password.errors }}
      <label class="control-label" for="id_password">Password:</label>
      <input class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" type="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label class="checkbox-inline">
        <input type="checkbox" name="remember_me"> Remember me
      </label>
      | <a href="">Forget password?</a>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-primary btn-block" value="Login">Log in</button>
      <!--following line is required for redirect-->
      <!-- <input type="hidden" name="next" value="{{ next|escape }}" /> -->
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
{% endblock %}
{% block rcontent %}
  <div class="">
    >No Hashky account? 
    <a href="{% url account:register_page %}">Sign up now</a>
  </div>
  <div>
    <div id="meName" class="Name"></div>
    <div id="meImg"></div>
    <div id="signin"></div>
  </div>
  <script src="//js.live.net/v5.0/wl.js" type="text/javascript"></script>
  <script type="text/javascript">

    // Update the following values
    var client_id = "0000000040125771",
    scope = ["wl.signin", "wl.basic"], //"wl.offline_access", "office.onenote_create"],
    redirect_uri = "www.ikuaiyue.com";

    function id(domId) {
      return document.getElementById(domId);
    }

    function displayMe() {
      var imgHolder = id("meImg"),
      nameHolder = id("meName");

      if (imgHolder.innerHTML != "") return;

      if (WL.getSession() != null) {
        wL.api({ path: "me/picture", method: "get" }).then(
          function (response) {
            if (response.location) {
              imgHolder.innerHTML = "<img src='" + response.location + "' />";
            }
          }
        );

        WL.api({ path: "me", method: "get" }).then(
          function (response) {
            nameHolder.innerHTML = response.name;
          }
        );
      }
    }

    function clearMe() {
      id("meImg").innerHTML = "";
      id("meName").innerHTML = "";
    }

    WL.Event.subscribe("auth.sessionChange",
      function (e) {
        if (e.session) {
          displayMe();
        }
        else {
          clearMe();
        }
      }
    );

    WL.init({ client_id: client_id, redirect_uri: redirect_uri, response_type: "code", scope: scope });

    WL.ui({ name: "signin", element: "signin" });

  </script>

{% endblock %}