{% extends "blog/base.html" %}
{% block title %}New shares{% endblock %}
{% block head %}Share new ideas{% endblock %}
{% block subhead %}{% endblock %}
{% block page %}
    {{ form.media }}
    <link rel="stylesheet" href="{{ STATIC_URL }}blog/css/jquery.ui.autocomplete.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}blog/css/new-post.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}tagmanager/tagmanager.css">
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}jQuery-Tags-Input/jquery.tagsinput.css"> -->
    <!--<script type="text/javascript" src="{{ STATIC_URL }}blog/js/jquery.ui.autocomplete.js"></script>-->
    <script type="text/javascript" src="{{ STATIC_URL }}tagmanager/tagmanager.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jQuery-Tags-Input/jquery.tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tag_autocomplete.js"></script>-->
    <script type="text/javascript">
        // jQuery(".tm-input").tagsManager();
    // tinyMCE.init({
    //     mode: "textareas",
    //     theme: "advanced",
    //     theme_advanced_resizing : true
    // });
    // $(document).ready(function(){
    //     // $('#tags').tagsInput();
    //     $('.tm-input').tagsManager({
    //          // hiddenTagListId: 'hidden_tags'
    //     });
    //     // $('#id_tags').tagsManager();
    //     // });
    //     $('#btn').click(function(){
    //         $('#tags').val($(':hidden_tags').val());
    //     });
    // });
        $(function(){
            $('.tm-input').tagsManager({
                // hiddenTagListId: 'hidden_tags'
                // AjaxPush: 'blogpost/edit/(\d+)/',
                // AjaxPushAllTags: true
                // AjaxPushParameters: { 'authToken': 'foobar' }
            });
        });
        // $('button').click(function(){
        //     $('#tags').val($("[name='hidden-tags']").val());
        // });
        
    </script>
{% endblock %}
{% block content %}
<div class="shortcuts">
    <a href="/user/{{ user }}/" class="username">My posts</a>
    <a href="/user/{{ user }}/draft" class="username">My drafts</a>
</div>
<form class="forms-new-post" method="post" action=".">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.title.errors }}
        <!-- {{ form.title }} -->
        <input class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}" type="text" autofocus="" required="" value="{{ form.title.value }}" placeholder="Input title..." />
    </div>
    <div class="form-group">
        {{ form.body.errors }}
        {{ form.body }}
       <!--  <textarea class="wmd-input form-control" id="{{ form.body.id_for_label }}" name="{{ form.body.html_name }}" placeholder="Body" /> -->
    </div>
    <div class="form-group">
        {{ form.tags.errors }}
        <input name="{{ form.tags.html_name }}" id="{{ form.tags.id_for_label }}" type="text" placeholder="Input tags..." value="{{ form.tags.value }}" class="tm-input form-control" />
    </div>
    <div class="form-group">
        <button name="submit_live" value="submit" type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-ok"></span> Submit</button>
        <button name="submit_draft" value="save as draft" type="submit" class="btn btn-warning">
          <span class="glyphicon glyphicon-lock"></span> Save as draft</button>
    </div>
    <!-- <input type="submit" value="save" /> -->
</form>
{% endblock %}
