<script src="{{ STATIC_URL }}blog/js/delete.js"></script>
<script src="{{ STATIC_URL }}blog/js/edit.js"></script>
{% load markup %}
        <ul>
          <li class="notebook-list-item">
            <a href="/notebook/7" id="Notebook0" class="Notebook">
              <div class="NotebookIcon clip48x48">
                <img src="https://www.onenote.com/ondc/1631231554_Images/en-US/ondc_notebooks.png" class="ondc_notebooks_icnotebk_48x48x32">
              </div>
              <div class="TileTextContainer">
                <div title="Personal" class="NotebookName FontS3">Some thinking about music</div>
              </div>
            </a>
          </li>
          <li class="notebook-list-item">
            <a href="https://onedrive.live.com/redir.aspx?cid=05888764f38cd69b&amp;page=edit&amp;resid=5888764F38CD69B!560" id="Notebook0" class="Notebook">
              <div class="NotebookIcon clip48x48">
                <img src="https://www.onenote.com/ondc/1631231554_Images/en-US/ondc_notebooks.png" class="ondc_notebooks_icnotebk_48x48x32">
              </div>
              <div class="TileTextContainer">
                <div title="Personal" class="NotebookName FontS3">Web strategy and policies</div>
              </div>
            </a>
          </li>
          <li class="notebook-list-item">
            <a href="https://onedrive.live.com/redir.aspx?cid=05888764f38cd69b&amp;page=edit&amp;resid=5888764F38CD69B!560" id="Notebook0" class="Notebook">
              <div class="NotebookIcon clip48x48">
                <img src="https://www.onenote.com/ondc/1631231554_Images/en-US/ondc_notebooks.png" class="ondc_notebooks_icnotebk_48x48x32">
              </div>
              <div class="TileTextContainer">
                <div title="Personal" class="NotebookName FontS3">Chinese cooking skill manual</div>
              </div>
            </a>
          </li>
        </ul>
