{% extends "blog/base.html" %}
{% block title %}Explore good notes{% endblock %}
{% block head %}Explore good notes{% endblock %}
{% block subhead %}Share, Discovery, Note makes time beautiful{% endblock %}
{% block content%}
  <div class="nav-list-bar">
    <ul class="nav nav-list category" >
      <li class="item active"><a href="#">Spotlight</a></li>
      <li class="item"><a href="#">Following</a></li>
      <li class="item"><a href="#">Top 100</a></li>
    </ul>
  </div>
  {% if user.username %}
    <!-- <div class="NotebooksGrid"> -->
      <!-- <div id="PersonalNotebooksContainer"> -->
        <ul>
          <li class="notebook-list-item">
            <div>
              <span class="postMetaInline">Recommended by <a title="Go to the profile of Ev Williams" href="https://medium.com/@ev">Ev Williams</a></span>
            </div>
            <a href="/notebook/8" id="Notebook0" class="Notebook">
              <div class="NotebookIcon clip48x48">
                <img src="https://www.onenote.com/ondc/1631231554_Images/en-US/ondc_notebooks.png" class="ondc_notebooks_icnotebk_48x48x32">
              </div>
              <div class="TileTextContainer">
                <div title="Personal" class="NotebookName FontS3">Work smart</div>
              </div>
            </a>
            <div class="item-origin">
              <a href=""> 
                <span class="postMetaInline">by: spiderman</span>
                <img class="avatar-image avatar-image--iconWithName" title="Medium" src="https://d262ilb51hltx0.cloudfront.net/fit/c/64/64/0*OUMcn8wC8gsvw2b6.jpeg">
              </a>
            </div>
          </li>
          <li class="notebook-list-item">
            <div>
              <span class="postMetaInline">Recommended by <a title="Go to the profile of Ev Williams" href="https://medium.com/@ev">Ev Williams</a></span>
            </div>
            <a href="https://onedrive.live.com/redir.aspx?cid=05888764f38cd69b&amp;page=edit&amp;resid=5888764F38CD69B!560" id="Notebook0" class="Notebook">
              <div class="NotebookIcon clip48x48">
                <img src="https://www.onenote.com/ondc/1631231554_Images/en-US/ondc_notebooks.png" class="ondc_notebooks_icnotebk_48x48x32">
              </div>
              <div class="TileTextContainer">
                <div title="Personal" class="NotebookName FontS3">SXSW sketchbook</div>
              </div>
            </a>
            <div class="item-origin">
              <a href=""> 
                <span class="postMetaInline">by: SXSW</span>
                <img class="avatar-image avatar-image--iconWithName" title="Medium" src="https://d262ilb51hltx0.cloudfront.net/fit/c/64/64/0*DlYRv44p8MknS8zS.jpeg">
              </a>
            </div>
          </li>
          <li class="notebook-list-item">
            <div>
              <span class="postMetaInline">Recommended by <a title="Go to the profile of Ev Williams" href="https://medium.com/@ev">Ev Williams</a></span>
            </div>
            <a href="https://onedrive.live.com/redir.aspx?cid=05888764f38cd69b&amp;page=edit&amp;resid=5888764F38CD69B!560" id="Notebook0" class="Notebook">
              <div class="NotebookIcon clip48x48">
                <img src="https://www.onenote.com/ondc/1631231554_Images/en-US/ondc_notebooks.png" class="ondc_notebooks_icnotebk_48x48x32">
              </div>
              <div class="TileTextContainer">
                <div title="Personal" class="NotebookName FontS3">All about MiaoMiao</div>
              </div>
            </a>
            <div class="item-origin">
              <a href=""> 
                <span class="postMetaInline">by: 路飞</span>
                <img class="avatar-image avatar-image--iconWithName" title="Medium" src="https://d262ilb51hltx0.cloudfront.net/fit/c/64/64/0*oaMQaGJFOMMytQ6i.jpeg">
              </a>
            </div>
          </li>
          <li class="notebook-list-item">
            <div>
              <span class="postMetaInline">Recommended by <a title="Go to the profile of Ev Williams" href="https://medium.com/@ev">Nolan</a></span>
            </div>
            <a href="https://onedrive.live.com/redir.aspx?cid=05888764f38cd69b&amp;page=edit&amp;resid=5888764F38CD69B!424" id="Notebook1" class="Notebook">
              <div class="NotebookIcon clip48x48">
                <img src="https://www.onenote.com/ondc/1631231554_Images/en-US/ondc_notebooks.png" class="ondc_notebooks_icnotebk_48x48x32">
              </div>
              <div class="TileTextContainer">
                <div title="田 田 的笔记本" class="NotebookName FontS3">晓松笔记</div>
              </div>
            </a>
            <div class="item-origin">
              <a href=""> 
                <span class="postMetaInline">by: 高晓松</span>
                <img class="avatar-image avatar-image--iconWithName" title="Medium" src="https://d262ilb51hltx0.cloudfront.net/fit/c/64/64/0*Jm5v2RTy0mzyl1AX.jpeg">
              </a>
            </div>
          </li>
        </ul>
      <!-- </div> -->
<!--       <div id="SharedNotebooksContainer">
      </div> -->
    <!-- </div> -->
  {% else %}
    <p>Welcome anonymnous user!
    You need to <a href="{% url blog:login_page %}?next=/">login</a>
    before you can store and share blogs.</p>
  {% endif %}
{% endblock %}
{% block rcontent %}
<!--   <h2>Following people</h2>
  {% if following_people %}
    <ul class="friends">
      {% for people in following_people %}
        <li><a href="/user/{{ people.username }}/">{{ people.username }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p><a>Spiderman</a></p>
    <p><a>路飞</a></p>
    <p><a>Batman</a></p>
    <p><a>多啦A梦</a></p>
  {% endif %} -->
{% endblock %}