{% extends "blog/base.html" %}
{% block page %}
    <script type="text/javascript" src="{{ STATIC_URL }}blog/search.js"></script>
{% endblock %}
{% block title %}Search BlogPosts{% endblock %}
{% block head %}Search BlogPosts{% endblock %}
{% block content %}
<form id="search-form" role="form" method="get" action=".">
    <div class="form-group">
        <input id="{{ form.query.id_for_label }}" class="form-control" type="text" placeholdder="search">
    </div>
    <button class="btn btn-default" type="submit">search</button>
</form>
<div id="search-results">
    {% if show_results %}
        {% include "blog/blogpost_list.html" %}
    {% endif %}
</div>
{% endblock %}